# Install cert-manager.io: https://cert-manager.io/docs/installation/
---

apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: selfsigned-issuer
spec:
  selfSigned: {}

---

apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: my-selfsigned-ca
  namespace: kube-system
spec:
  isCA: true
  commonName: my-selfsigned-ca
  secretName: root-secret
  privateKey:
    algorithm: ECDSA
    size: 256
  issuerRef:
    name: selfsigned-issuer
    kind: ClusterIssuer
    group: cert-manager.io

---

apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: my-ca-issuer
  namespace: kube-system
spec:
  ca:
    secretName: root-secret

---

apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: serving-cert
  namespace: kube-system
spec:
  dnsNames:
  - bigip-kubernetes-gateway-webhook.kube-system.svc
  - bigip-kubernetes-gateway-webhook.kube-system.svc.cluster.local
  ipAddresses:
    - 127.0.0.1
    - 0.0.0.0
    - ${local_host_ipaddr}
  issuerRef:
    kind: Issuer
    name: my-ca-issuer
  secretName: webhook-server-cert

---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: validating-webhook-configuration
  annotations:
    cert-manager.io/inject-ca-from: kube-system/my-selfsigned-ca
webhooks:
  - admissionReviewVersions:
      - v1beta1
      - v1
    clientConfig:
      # service:
        # name: webhook-service
        # namespace: system
      url: "https://${local_host_ipaddr}:9443/validate-gateway-networking-k8s-io-v1beta1-gatewayclass"
    failurePolicy: Fail
    name: vgwc.kb.io
    rules:
      - apiGroups:
          - gateway.networking.k8s.io
        apiVersions:
        - v1beta1
        - v1
        operations: ["*"]
        resources:
          - gatewayclasses
    sideEffects: None
  - admissionReviewVersions:
      - v1beta1
      - v1
    clientConfig:
      service:
        # name: bigip-kubernetes-gateway
        # namespace: kube-system
        # path: /validate-gateway-networking-k8s-io-v1beta1-gateway
        # port: 9443
      url: "https://${local_host_ipaddr}:9443/validate-gateway-networking-k8s-io-v1beta1-gateway"
    failurePolicy: Fail
    name: vgw.kb.io
    rules:
      - apiGroups:
          - gateway.networking.k8s.io
        apiVersions:
        - v1beta1
        - v1
        operations: ["*"]
        resources:
          - gateways
    sideEffects: None
  - admissionReviewVersions:
      - v1beta1
      - v1
    clientConfig:
      # service:
      #   name: bigip-kubernetes-gateway
      #   namespace: kube-system
      #   path: /validate-gateway-networking-k8s-io-v1beta1-httproute
      #   port: 9443
      url: "https://${local_host_ipaddr}:9443/validate-gateway-networking-k8s-io-v1beta1-httproute"
    failurePolicy: Fail
    name: vhr.kb.io
    rules:
      - apiGroups:
          - gateway.networking.k8s.io
        apiVersions:
        - v1beta1
        - v1
        operations: ["*"]
        resources:
          - httproutes
    sideEffects: None
  - admissionReviewVersions:
      - v1beta1
      - v1
    clientConfig:
      # service:
      #   name: bigip-kubernetes-gateway
      #   namespace: kube-system
      #   path: /validate-gateway-networking-k8s-io-v1beta1-referencegrant
      #   port: 9443
      url: "https://${local_host_ipaddr}:9443/validate-gateway-networking-k8s-io-v1beta1-referencegrant"
    failurePolicy: Fail
    name: vrg.kb.io
    rules:
      - apiGroups:
          - gateway.networking.k8s.io
        apiVersions:
        - v1beta1
        - v1
        operations: ["*"]
        resources:
          - referencegrants
    sideEffects: None
